/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Feb-2015, 20:16:30
    Author     : anthonyholmes
*/

/* header section */

header {
    border-bottom: 1px solid black;

    background: -webkit-linear-gradient(#333333,#999999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333333,#999999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333333,#999999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333333,#999999); /* Standard syntax */
}

#puzzles {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
    
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 825px;
    border: 0px dotted yellow;
}

img {
    border: 0px;
}

figure > img 
{
    border: 1px solid darkgrey;
}

figure {
    padding: 5px;
    border: 2px solid purple;
}
figure:hover {
    border: 2px solid white;
}
figcaption
{
    text-align: center;
}

#parrot {
    -webkit-order: 1; /* Safari 6.1+ */
    -ms-flex-order: 1; /* IE 10 */ 
    order: 1;
}

#cat {
    -webkit-order: 2; /* Safari 6.1+ */
    -ms-flex-order: 2; /* IE 10 */ 
    order: 2;
}

#moon {
    -webkit-order: 3; /* Safari 6.1+ */
    -ms-flex-order: 3; /* IE 10 */ 
    order: 3;
}

#rockies {
    -webkit-order: 4; /* Safari 6.1+ */
    -ms-flex-order: 4; /* IE 10 */ 
    order: 4;
}

/* puzzle section */

div[role="main"] {
    border-top: 4px solid purple;
    background: -webkit-linear-gradient(#cccccc,#999999,#cccccc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#cccccc,#999999,#cccccc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#cccccc,#999999,#cccccc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#cccccc,#999999,#cccccc); /* Standard syntax */
    border-bottom: 4px solid purple;
}

#outerPuzzle {
    border: 1px solid white;
}

#puzzlegrid {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    width: 420px;
    
    border-left: 3px solid purple;
    border-right: 3px solid purple;
    
    background: -webkit-linear-gradient(#333333,#999999); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333333,#999999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333333,#999999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333333,#999999); /* Standard syntax */
}

#puzzlegrid > ol 
{
    list-style-type: none;
    padding: 0px;
    
}
#puzzlegrid > ol > li
{
    border: 1px dashed #ffffff;
    width: 100px;
    height: 100px;
}

#puzzlegrid > ol > li:hover 
{
    background-color: purple;
}


#puzzlegrid > ol > li > img:hover
{
    border: 1px solid white;
}

#cell1,#cell5,#cell9,#cell13 {
    -webkit-order: 1; /* Safari 6.1+ */
    -ms-flex-order: 1; /* IE 10 */ 
    order: 1;
}

#cell2,#cell6,#cell10,#cell14 {
    -webkit-order: 2; /* Safari 6.1+ */
    -ms-flex-order: 2; /* IE 10 */ 
    order: 2;
}

#cell3,#cell7,#cell11,#cell15 {
    -webkit-order: 3; /* Safari 6.1+ */
    -ms-flex-order: 3; /* IE 10 */ 
    order: 3;
}

#cell4,#cell8,#cell12,#cell16 {
    -webkit-order: 4; /* Safari 6.1+ */
    -ms-flex-order: 4; /* IE 10 */ 
    order: 4;
}

/* footer section */
footer {
    border-top: 1px solid black;
    background: -webkit-linear-gradient(#333333,#999999)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#333333,#999999); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#333333,#999999); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#333333,#999999); /* Standard syntax */
    
    color: #ffffff;
    
    border-bottom: 4px solid purple;
}

footer > ol {
    border: 0px dotted yellow;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#footer_options {
    display: -webkit-flex; /* Safari */
    -webkit-flex-flow: row wrap; /* Safari 6.1+ */
    
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    
    -webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    width: 700px;
    list-style-type: none;
    border: 1px solid red;
}

#footer_options > li
{
    padding-left: 50px;
    border: 1px solid yellow;
}

#footer_options > li > ol
{
    list-style-type: none;
}

